<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="ru.rubicon21.organizer"
          android:versionCode="1"
          android:versionName="1.0">
    <uses-sdk android:minSdkVersion="10"/>
    <application android:label="@string/app_name"
                 android:screenOrientation="portrait">
        <activity android:name="MainActivity"
                  android:label="@string/app_name"
                  android:screenOrientation="portrait"
                  android:theme="@style/AnimationActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".TaskDetails"
                  android:label="@string/task_name"
                  android:screenOrientation="portrait"
                  android:windowSoftInputMode="stateAlwaysHidden"
                  android:theme="@style/AnimationActivity"
                  />
        <activity android:name=".AddTask"
                  android:label="Добавить задачу"
                  android:screenOrientation="portrait"
                  android:windowSoftInputMode="stateVisible|adjustPan"
                  android:theme="@style/AnimationActivity"
                  />
        <activity android:name=".EditTask"
                  android:screenOrientation="portrait"
                  android:theme="@style/AnimationActivity"
                  />
        <activity android:name=".TaskReplace"
                  android:label="@string/labelTaskReplace"
                  android:theme="@style/AnimationActivity"
                  />

    </application>
</manifest> 
